<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunwayworld.cloud.module.lcdp.resourcefile.persistent.mapper.LcdpResourceFileMapper">
    <select id="selectByCondition" parameterType="map" resultType="map">
        <include refid="com.sunwayworld.framework.mybatis.mapper.GlobalMapper.selectColumnNames"/>
          FROM T_LCDP_RESOURCE_FILE T
        <where>
            <include refid="com.sunwayworld.framework.mybatis.mapper.GlobalMapper.appendWhereClausesIfPresent" />
        </where>
        ORDER BY
        <choose>
            <when test="orderParams != null and orderParams.size > 0">
                <include refid="com.sunwayworld.framework.mybatis.mapper.GlobalMapper.appendOrderClause" />
            </when>
            <otherwise>
                T.ID DESC
            </otherwise>
        </choose>
    </select>

</mapper>