<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunwayworld.cloud.module.lcdp.table.persistent.mapper.LcdpTableMapper">
    <select id="selectByCondition" parameterType="map" resultType="map">
        SELECT T.*
        FROM T_LCDP_TABLE T
        <where>
            <include refid="com.sunwayworld.framework.mybatis.mapper.GlobalMapper.appendWhereClausesIfPresent"/>
            <if test='latest_only != null and latest_only == "1"'>
                AND NOT EXISTS (SELECT 1
                                  FROM T_LCDP_TABLE P
                                 WHERE P.TABLENAME = T.TABLENAME
                                   AND P.VERSION <![CDATA[>]]> T.VERSION)
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderParams != null and orderParams.size > 0">
                <include refid="com.sunwayworld.framework.mybatis.mapper.GlobalMapper.appendOrderClause"/>
            </when>
            <otherwise>
                T.ID DESC
            </otherwise>
        </choose>
    </select>

    <select id="selectLatestBriefList" parameterType="map" resultType="map">
        SELECT T.ID,
               T.TABLENAME,
               T.TABLEDESC,
               T.VERSION,
               T.SUBMITFLAG,
               T.CREATEDBYID
          FROM T_LCDP_TABLE T
        <where>
           <if test="tableList != null">
               T.TABLENAME IN
               <foreach collection="tableList" item="table" open="(" close=")" separator=",">
                   '${table}'
               </foreach>
           </if>
           <if test="submitted != null"> <!-- 查询已提交过的 -->
               AND EXISTS (SELECT 1 FROM T_LCDP_TABLE TT WHERE TT.TABLENAME = T.TABLENAME AND TT.SUBMITFLAG = 'yes')
           </if>
           AND NOT EXISTS (SELECT 1 FROM T_LCDP_TABLE TT WHERE TT.TABLENAME = T.TABLENAME AND TT.VERSION > T.VERSION)
            <include refid="com.sunwayworld.framework.mybatis.mapper.GlobalMapper.appendWhereClausesIfPresent"/>
        </where>
    </select>
</mapper>