#lcdp-database-manager-result-sql-form {
    padding: 16px 0 0 0;
}

#lcdp-database-manager-result-sql-form .form-group {
    padding: 0;
    margin: 0;
}

#lcdp-database-manager-result-sql-form .code-editor-wrapper {
    border: none;
}

#lcdp-database-manager-result-view-form {
    padding: 16px 0 0 0;
}

#lcdp-database-manager-result-view-form .form-group {
    padding: 0;
    margin: 0;
}

#lcdp-database-manager-result-view-form .code-editor-wrapper {
    border: none;
}

#lcdp-database-manager-result-form {
    padding: 16px 0 0 0;
}

#lcdp-database-manager-result-form .form-group {
    padding: 0;
    margin: 0;
}

#lcdp-database-manager-result-form .code-editor-wrapper {
    border: none;
}

